body {
    background: #333;
    background-image: url("/img/bg.png");
    background-repeat: repeat;
}

.main {
    margin-top: 40px;
    margin-bottom: 30px;
}

.container p {
    color: #ccc;
}

h1 {
    font-size: 50px;
    line-height: 66px;
    color: white;
}

h2 {
    color: #ffcc00;
    font-size: 30px;
    line-height: 36px;
}

h3 {
    color: #ccc;
}

hr {
    border-top: 1px solid #112;
    border-bottom: 1px solid #223;
}

.right-main p {
    font-size: 15px;
    line-height: 22px;
    color: #fff;
}

.xlarge-btn {
    background-image: url("/img/appstore-en.png") !important;
    background-position: 20px 10px;
    background-repeat: no-repeat;
    height: 70px;
    padding: 20px;
    width: 308px;
}

.xlarge-btn.ru {
    background-image: url("/img/appstore-ru.png") !important;
}

.xlarge-btn:hover, .xlarge-btn:focus {
    background-position: 20px 10px;
}

.xlarge-btn:active {
    background-position: 20px 12px;
}

.footer {
    padding-top: 15px;
    border-top: 1px solid #111;
    -webkit-box-shadow: inset 0 1px 0 #223;
    -moz-box-shadow: inset 0 1px 0 #223;
    box-shadow: inset 0 1px 0 #223;
}

.footer p {
    color: #666;
    text-align: center;
}